.icon-dirobj {
  background-image: url('{{ url_for('NODE-dirobj.static', filename='img/dirobj.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-dirobj-not-connected {
  background-image: url('{{ url_for('NODE-dirobj.static', filename='img/dirobjbad.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
